.react-trello-lane {
    border: 0;
    background-color: initial;
  }

.react-trello-card {
    background-color: initial;
}

.react-trello-board {
    background-color: inherit;
}


/* this doesnt work, probably due to precedence issues with styled-components */